*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Metropolis;
  src: url(assets/fonts/Metropolis/Metropolis-Regular.otf);
}

.container {
  display: flex;
  height: 1024px;
  font-family: Metropolis;
}
/* SIDE CONTENT */
.side-content {
  background: rgba(55, 106, 237);
  flex: 1;
  padding: 75px 115px 78px;
  color: white;
  max-width: 50%;
}

.side-header {
  display: flex;
  column-gap: 30px;
}

.back-arrow,
.side-header-title {
  position: relative;
  left: -30px;
}

.side-header-title {
  font-size: 24px;
  font-weight: 800;
}

.side-title {
  width: 100%;
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 72px;
  line-height: 98px;
}

.email {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  text-decoration: underline solid;
}

.has-account {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.has-account-text {
  flex: 2;
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
  text-align: center;
}

.underline {
  flex: 1;
  height: 1px;
  border-bottom: 2px solid white;
}

.login-button {
  display: flex;
  background: rgba(13, 37, 60);
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  height: 75px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.login-button:active {
  background: rgb(20, 56, 90);
}

.side-info {
  margin-top: 160px;
  height: 100px;
  display: grid;
  grid-template-columns: 45% 35%;
  column-gap: 20%;
  grid-template-rows: 50% 50%;
}

.info-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  max-width: 50%;
}
